html {
	font-size: 16px;
}

h1 {
	font-weight: 500 !important;
}

h2 {
	font-size: 1.4rem !important;
}

p, input {
	color: inherit;
	font-size: 1rem !important;
}

.styledMenu__title:after {
	content: "";
	position: relative;
	display: inline-block;
	width: 250px;
	height: 1px;
	background-color: #626973

}
.styledMenu__instructions:before { 
		content: "";
		position: relative;
		top: 5px;
		margin-right: 10px;
		display: inline-block;
		width: 8px;
		height: 30px;
		background-color: #84A9BF;
		border-radius: 2px,
}

#leafletMap__wrapper {
	height: 100vh;
	width: 100%;
}

.styledInput__number {
	float: left;
	width: 70% !important;
	align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}